<html>

<head>
  <title> OpenHame </title>
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

  <!-- Flatpickr (datepicker) related files -->
  <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
  <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
  <!-- datepicker -->
  <script src="https://unpkg.com/vue-flatpickr-component@5"></script>

</head>

<body>
  <div id="searchForm">
    <input v-model="division" placeholder="Division" type="text" />
    <input v-model="location" placeholder="Location" type="text"/>
    <input v-model="text" placeholder="Search text" type="text"/>
    <label>Event starting date:</label>
    <date-picker v-model="start" :config="config" :required="true" placeholder="Select start date"></date-picker>
    <label>Event ending date:</label>
    <date-picker v-model="end" :config="config" :required="true" placeholder="Select end date"></date-picker>

    <select v-model="orderBy">
    <option disabled value="">Please select one</option>
    <option>date</option>
    <option>location</option>
    <option>division</option>
    <option>name</option>
    </select>
    <span>Selected: {{ orderBy }}</span>


    <input type="checkbox" v-model="ascending">
    <label for="checkbox">Ascending</label>
    <button v-on:click="eventSearch">Get Events</button>
  </div>

  <div id="eventsResult">
    <div v-for="event in events">
      <span>
          {{event.name ? event.name.fi : '' }} ||
          {{event.start_time}} ||
          {{event.location.name.fi}} ||
        </span> {{event.description ? event.description.fi : ''}}
      <br>
    </div>
    <p v-if="metaData.count > 20">Current page is: {{ getPageNumber() }} / {{pageCount}}</p>
    <button v-if="getPageNumber() > 1" v-on:click="previousPage">Previous page ({{ getPageNumber()-1 }}) </button>
    <button v-if="metaData.count > 20 && getPageNumber() < pageCount" v-on:click="nextPage">Next page ({{ getPageNumber()+1 }}) </button>
  </div>

  <!-- script should be loaded after page is rendered -->
  <script src="./script.js"></script>
</body>

</html>
