<html>

<head>
  <title> OpenHame </title>
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="style.css" rel="stylesheet">
  <!-- Flatpickr (datepicker) related files -->
  <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">

  <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
  <!-- datepicker -->
  <script src="https://unpkg.com/vue-flatpickr-component@5"></script>
</head>

<body>
  <div id="left">
    <div class="searchBackground">
      <div id="searchForm">
        <p class="searchItemHeader">Location</p>
        <input class="searchTextBox" v-model="location" placeholder="Location" type="text" />
        <p class="searchItemHeader">Event starting date</p>
        <date-picker class="searchTextBox" v-model="start" :config="config" :required="true" placeholder="Select start date"></date-picker>
        <p class="searchItemHeader">Event ending date</p>
        <date-picker class="searchTextBox" v-model="end" :config="config" :required="true" placeholder="Select end date"></date-picker>
        <button id="getEventsButton" v-on:click="getResults">Get Events</button>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="eventsResult">
      <div v-for="event in events">

        <div class="eventBox">
          <div class="eventHeaderBar">
            <p class="eventHeader">{{event.name ? event.name.fi : '' }}</p>
            <p class="squareButton" onClick="eventDetailBox(eventsNum)">&#xf22c;</p>
            <p class="eventInfoBox eventDate">{{event.start_time}}</p>
            <p class="eventInfoBox eventLocation">{{event.location.name.fi}}</p>
          </div>

          <div class="eventDescription" v-html="event.description ? event.description.fi : ''"></div>

        </div>
      </div>
    </div>
  </div>
  <!-- script should be loaded after page is rendered -->
  <script src="./script.js"></script>
</body>

</html>
